<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutChangesToGlobalState="true"
		 beStrictAboutOutputDuringTests="true"
		 colors="true"
		 stopOnFailure="false"
		 bootstrap="./tests/bootstrap.php"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage processUncoveredFiles="true">
		<include>
			<directory>./src/</directory>
		</include>
	</coverage>
	<testsuites>
		<testsuite name="Bloatless Template Engine Testsuite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
